#timer {
    font-size: 16vw;
}

#log-window {
    height: 12em;
}

body {
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

h2 {
    font-weight: bolder;
}
